
<table class="table table-bordered"> 
    <thead>
     <tr>
       <th style = "font-size: 30px; text-align:center;">id</th>
       <th style = "font-size: 30px; text-align:center;">Book Title</th>
       <th style = "font-size: 30px; text-align:center;">Book Author</th>
       <th style = "font-size: 30px; text-align:center;">User Name</th>
       <th style = "font-size: 30px; text-align:center;">Check out date</th>
     </tr>
   </thead> 
      <tbody>
     <tr>
       <td style = "font-size: 20px;">1</td>
       <td style = "font-size: 20px;">The History of Tom Jones</td>
       <td style = "font-size: 20px;">Henry Fielding.</td>
       <td style = "font-size: 20px;">Payal Parate</td>
       <td style = "font-size: 20px;">1/12/20</td>
     </tr>
     <tr>
        <td style = "font-size: 20px;">2</td>
        <td style = "font-size: 20px;">Pride and Prejudice</td>
        <td style = "font-size: 20px;">Jane Austen</td>
        <td style = "font-size: 20px;">Juhi Gajbhiye</td>
        <td style = "font-size: 20px;">10/11/20</td>
      </tr>
      <tr>
        <td style = "font-size: 20px;">3</td>
        <td style = "font-size: 20px;">The Red and the Black</td>
        <td style = "font-size: 20px;">Henry Fielding.</td>
        <td style = "font-size: 20px;">Aparna sahu</td>
        <td style = "font-size: 20px;">03/05/20</td>
      </tr>
      <tr>
        <td style = "font-size: 20px;">4</td>
        <td style = "font-size: 20px;">Wuthering Heights</td>
        <td style = "font-size: 20px;">Emily Brontë</td>
        <td style = "font-size: 20px;">Sonal Chawhan</td>
        <td style = "font-size: 20px;">07/08/20</td>
      </tr>
      <tr>
        <td style = "font-size: 20px;">5</td>
        <td style = "font-size: 20px;">Moby-Dick</td>
        <td style = "font-size: 20px;">Herman Melville</td>
        <td style = "font-size: 20px;">Ronny Desuza</td>
        <td style = "font-size: 20px;">23/11/20</td>
      </tr>
   </tbody>    
 </table>