<body>
    <strong><h1 align="center" style="color:#4f7af1">WELCOME TO UNIVERSITY LIBRARY</h1></strong>
  
    <!-- Navbar -->
    <div class="topnav">
      <a style="color:#96d64c" routerLinkActive="active" routerLink="/home">Home</a>
      <a  style="color:#96d64c" routerLinkActive="active" routerLink="/login">Login</a>
      <a style="color:#96d64c" routerLinkActive="active" routerLink="/aboutus">AboutUs</a>
        <a style="color:#96d64c" routerLinkActive="active" routerLink="/contactus">ContactUs</a>
         <div class="topnav-right"> 
          <a style="color:#96d64c" routerLinkActive="active" routerLink="/register">Register</a>
      </div>
    </div>
    <router-outlet></router-outlet>
  </body>